{% extends "base.twig" %}

{% block title %}Галерея{% endblock %}

{% block body %}

    <div class="container">
        <ul class="gallery">
            {% for img in data %}

                <li class="gallery__item">
                    <a href="/photo/id/{{ img.id }}" class="gallery__link">
                        <img src="{{ img.img_path }}" alt="{{ img.img_name }}" class="gallery__img" width="150" height="150">
                    </a>
                </li>

            {% endfor %}
        </ul>
    </div>

{% endblock %}
