.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
}

.gallery {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.gallery__link {
    display: flex;
}

.img-one {
    display: flex;
    margin: auto;
}
